@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
.my2048 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.button {
  display: block;
  margin: 8px auto;
  width: 100px;
  padding: 8px;
  background-color: #5e7ce0;
  font-family: Arial;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}
.button:hover {
  background-color: #7693f5;
}
.button:active {
  background-color: #526ecc;
}
header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
}
header p {
  margin: 12px auto;
  font-family: Arial, Microsoft YaHei;
  font-size: 24px;
}
#grid-container {
  background-color: #464d6e;
  width: 500px;
  height: 500px;
  margin: 8px auto;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgb(37 43 58 / 16%);
  position: relative;
}
.grid-cell {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100px;
  height: 100px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(37, 43, 58, 0.1);
  position: absolute;
  z-index: 9;
}
.number-cell {
  border-radius: 4px;
  font-family: Arial, Microsoft YaHei;
  font-weight: bold;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  z-index: 10;
}
footer {
  margin: 8px auto;
  padding: 8px;
  text-align: center;
  font-family: Arial, Microsoft YaHei;
  font-size: 16px;
}
#my2048Alert {
  width: 100%;
  height: 100%;
  font-family: Arial, Microsoft YaHei;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: cubic-bezier(0, 0, 1, 1) 300ms;
}
#my2048Alert .mask {
  background-color: rgba(94, 124, 224, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#my2048Alert .myAt {
  background: #fff;
  width: 13rem;
  height: 11rem;
  margin-top: -5.5rem;
  margin-left: -6.5rem;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: cubic-bezier(0, 0, 1, 1) 300ms;
}
#my2048Alert .myAt .myAt-pic {
  background: url(../img/head.jpg) no-repeat;
  background-size: cover;
  background-position: -15px;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-left: -3.5rem;
  border: 3px solid #5e7ce0;
  position: absolute;
  top: -22%;
  left: 50%;
}
#my2048Alert .myAt .myAt-text {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.4rem;
  text-align: center;
  position: absolute;
  left: 0;
  top: 45%;
}
#my2048Alert .myAt .myAt-text .myAt-text-title,
#my2048Alert .myAt .myAt-text .myAt-text-subtitle {
  color: #575d6c;
}
#my2048Alert .myAt .myAt-text .myAt-text-title span,
#my2048Alert .myAt .myAt-text .myAt-text-subtitle span {
  color: #5e7ce0;
}
#my2048Alert .myAt .myAt-text .myAt-text-close {
  width: 80px;
}
#my2048Alert.hide {
  opacity: 0;
  z-index: 0;
}
#my2048Alert.show {
  opacity: 1;
  z-index: 9999;
}
#my2048Alert.hide .myAt {
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
#my2048Alert.show .myAt {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
