* {
    margin: 0;
    padding: 0;
}

#app {
    width: 500px;
    height: 600px;
    margin: 50px auto;
    background: url('./img/Bg.jpeg');
    background-size: 100% auto;
    background-position: center;
    position: relative;
    border-radius: 5px;
    
}

.imgGlobal {
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
}

.imgFilter {
    filter: brightness(30%);
}

#storageBox {
    height: 50px;
    width: 350px;
    position: absolute;
    border-radius: 5px;
    bottom: 40px;
    left: 75px;
}